[submodule ".vim/bundle/vim-jade.git.git"]
	path = .vim/bundle/vim-jade.git.git
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-simple-todo.git.git"]
	path = .vim/bundle/vim-simple-todo.git.git
	url = git@github.com:vitalk/vim-simple-todo.git
[submodule ".vim/bundle/vim-landscape.git.git"]
	path = .vim/bundle/vim-landscape.git.git
	url = git@github.com:itchyny/landscape.vim.git
[submodule ".vim/bundle/vim-colors-solarized.git.git"]
	path = .vim/bundle/vim-colors-solarized.git.git
	url = git@github.com:amdt/vim-colors-solarized.git
[submodule ".vim/bundle/vim-jade.git"]
	path = .vim/bundle/vim-jade.git
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-landscape.git"]
	path = .vim/bundle/vim-landscape.git
	url = git@github.com:itchyny/landscape.vim.git
[submodule ".vim/bundle/landscape.git"]
	path = .vim/bundle/landscape.git
	url = git@github.com:itchyny/landscape.vim.git
[submodule ".vim/bundle/beekai.git"]
	path = .vim/bundle/beekai.git
	url = git@github.com:stephanedemotte/beekai.git
[submodule ".vim/bundle/sunbrust.git"]
	path = .vim/bundle/sunbrust.git
	url = git@github.com:sickill/vim-sunburst.git
