[submodule ".vim/bundle/airline.git"]
	path = .vim/bundle/airline.git
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/NERD_tree.git"]
	path = .vim/bundle/NERD_tree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/easymotion.git"]
	path = .vim/bundle/easymotion.git
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/fugitive.git"]
	path = .vim/bundle/fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/ctrlp.git"]
	path = .vim/bundle/ctrlp.git
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/emmet.git"]
	path = .vim/bundle/emmet.git
	url = git@github.com:mattn/emmet-vim.git
[submodule ".vim/bundle/tabular.git"]
	path = .vim/bundle/tabular.git
	url = git@github.com:godlygeek/tabular.git
[submodule ".vim/bundle/unimpaired.git"]
	path = .vim/bundle/unimpaired.git
	url = git@github.com:tpope/vim-unimpaired.git
[submodule ".vim/bundle/ultisnips.git"]
	path = .vim/bundle/ultisnips.git
	url = git@github.com:SirVer/ultisnips.git
