Host *
  ServerAliveInterval 120

Host lbc
  HostName 139.59.103.31
  Port 22
  User jeefo

Host tmc
  HostName 209.97.160.116
  User jeefo
  #ForwardX11 yes
  #ForwardX11Trusted yes

Host handpro
  HostName 66.181.164.191
  User je3f0o

Host db
  HostName 68.183.236.229
  User jeefo