# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# Comment this line if you don't want it to be added again.
Include ~/.orbstack/ssh/config

Host *
  ServerAliveInterval 120

Host lbc
  HostName 159.223.73.121

Host db
  HostName 167.71.214.3

Host maestro
  HostName 178.128.116.214

Host prod
  HostName 139.59.237.136

Host tmc
  HostName 209.97.160.116
  #ForwardX11 yes
  #ForwardX11Trusted yes
  #ForwardX11 yes
  #ForwardX11Trusted yes

Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/github
  IdentitiesOnly yes
  StrictHostKeyChecking accept-new

Host miat
  HostName 122.201.23.233
  User murch-vision

Host coffeetimes
  HostName 202.131.1.77
  User root