# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# Comment this line if you don't want it to be added again.
Include ~/.orbstack/ssh/config

Host *
  ServerAliveInterval 120

Host lbc
  HostName 178.128.86.201
  User jeefo

Host db
  HostName 128.199.162.71
  User jeefo

Host tmc
  HostName 209.97.160.116
  User jeefo
  #ForwardX11 yes
  #ForwardX11Trusted yes
  #ForwardX11 yes
  #ForwardX11Trusted yes

Host aibox
  HostName 103.168.35.174
  User m51c
  #PubKeyAuthentication yes
  #IdentityFile ~/.ssh/id_rsa