
# function
snippet fn
function ${1:function_name} ($2)
{
	$0
}
endsnippet

# public function
snippet pub
public function ${1:function_name} ($2)
{
	$0
}
endsnippet

# private function
snippet pri
private function ${1:function_name} ($2)
{
	$0
}
endsnippet

# if
snippet if
if ($1)
{
	$0
}
endsnippet

# foreach
snippet fe
foreach ($${1:array} as $${2:key} => $${3:value})
{
	$0
}
endsnippet

# each
snippet each
for ($${2:i} = 0; $$2 < ${1:length}; ++$$2)
{
	$0
}
endsnippet
