
# main entry point
snippet main
int main (int argc, char * argv[])
{
	$0

	return 0;
}
endsnippet

# if condition
snippet if
if (${1:condition}) {
	$2
}$0
endsnippet

# Guard
snippet g
#ifndef __${1:GUARD}__
#define __$1__

$0

#endif
endsnippet
