
# function
snippet fn
function ${1:function_name} {
	$0
}
endsnippet

# function
snippet if
if ${1:condition}; then
	$0
fi
endsnippet

# function
snippet ifb
if [ ${1:condition} ]; then
	$0
fi
endsnippet
